.pageHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
    height: 80%;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    overflow: hidden;

    & .bgfilter {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* width: 100%; */
        /* height: 100%; */
        background: rgba(0, 0, 0, 0.3);
        z-index: -1;
        display: block;
    }

    & .content {
        position: relative;
        z-index: 3;
    }
}

